<a href="https://colab.research.google.com/github/kana1017/m_INFO5731_Fall2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [1]:
# write your answer here
x = len("How are you?")

print(x)

def string_length(str1):
    count = 0
    for char in str1:
        count += 1
    return count
print(string_length('w3resource.com'))

12
14

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
# write your answer here
import operator

def stringToDict(str1):
  str_dict = dict()
  for i in str1:
    count = 0
    for s in str1:
      if i == s:
        count += 1
    str_dict[i] = count
  sorted_d = dict( sorted(str_dict.items(), key=operator.itemgetter(1),reverse=True))
  return sorted_d

# Declaring an input string and calling above function
string = "google.com"
print("Expected Result:", stringToDict(string))

Expected Result: {'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [3]:
# write your answer here
a=[1,2,4,4,5,7,8,9,10,11]
x=sum(a)
print(x)


def sum_list(items):  
    sum_numbers = 0  
    for x in items:  
        sum_numbers += x  
    return sum_numbers  
print(sum_list([1,2,-8]))

61
-5

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [4]:
# write your answer here
def change_char(str1):  
  char = str1[0]  
  length = len(str1)  
  str1 = str1.replace(char, '$')  
  str1 = char + str1[1:]  
  
  return str1  
  
print(change_char('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [5]:
# write your answer here

# Using funtion to throw 'Divide by Zero' error
def error(error_desc):
  print(error_desc)
  return

# Using funtion to accept two parameters to calculate the given output
def calculate_S(a, b):
  if b == 0:
    error("Runtime Error: Attempt to divide by zero")
  return 3.14 * (1 + a/b)**3

#intializing a & b variables through keyboard input
parameter_a = int(input("Please enter a value for a : "))
parameter_b = int(input("Please enter a value for b : "))

#Calling the above functions and printing results 
print(" Expected result : ", calculate_S(parameter_a, parameter_b))

Please enter a value for a : 5
Please enter a value for b : 6
 Expected result :  19.3487962962963

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [11]:
# write your answer here
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
x = [dic1,dic2,dic3]
list (x)

dic1={1:10, 2:20}  
dic2={3:30, 4:40}  
dic3={5:50,6:60}  
dic4 = {}  
for d in (dic1, dic2, dic3): dic4.update(d)  
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [12]:
# write your answer here
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

  tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
print("r" in tuplex)
print(5 in tuplex)

Yes, 'apple' is in the fruits tuple
True
False

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [13]:
# write your answer here
#Create a set
seta = set([5, 10, 3, 15, 2, 20])
#Find maximum value
print(max(seta))
#Find minimum value
print(min(seta))

20
2

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [23]:
# write your answer here
import random
#sampling with replacement
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058',
                'spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850',
                'ss1995','at0739','at0768','mv0299','tv0119','dy0091']
group_size = []
for i in range(5):
    group_size.append(random.randint(3,5))

# make sure that the sum of the group size is 22
if sum(group_size) == len(studnet_list):
    print(group_size)
    for j in range(5):
      sampling = random.sample(studnet_list,group_size[j-1])
      studnet_list = [j for j in studnet_list if j not in sampling]
      print("Group " +str(j+1)+": ", sampling)

[5, 3, 5, 5, 4]
Group 1:  ['at0739', 'rs0850', 'nm0547', 'ds0761']
Group 2:  ['pn0159', 'spk0057', 'rrk0058', 'vl0135', 'dd0420']
Group 3:  ['pc0353', 'tv0119', 'msp0174']
Group 4:  ['yye0005', 'vmb0067', 'snd0097', 'ss1995', 'rak0120']
Group 5:  ['sg0940', 'mv0299', 'dy0091', 'at0768', 'bk0301']